body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    width: 100%;
    height: 700px;
    display: flex;


}
section nav{
    width: 50%;
    height: 600px;
    background-color: darksalmon;
}
section nav img{
    width: 200px;
    height: 200px;
}
section .box2{
    width: 50%;
    height: 600px;
    background-color: darkslateblue;
}